.header{
    background: #d4afbf;
    width: 100%;
    position: fixed;
}

.toolbar{
}

.main{
}

.navbar{
    width: 350px;
    background: #f5b9b9;
    padding: 24px;
}

.feed{
    width: 100%;
    background: #f5e8e8;
    padding: 24px;
}